[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flake8 = "*"
autopep8 = "*"
nose = "*"
Flask = "*"
psycopg2 = "*"
pandas = "*"
numpy = "*"
lightgbm = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "flake8 ."
fix = "autopep8 -ivr ."
test = "nosetests -v"
app = "flask run --host=0.0.0.0"
